################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VirtualDoctor/.vs
/.vs
/VirtualDoctor/MultiSelectComboBox/obj/x86/Debug
/VirtualDoctor/MultiSelectComboBox/obj/x86/Release
