<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VirtualDoctor.Shared.Config.NamesSerbian" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VirtualDoctor.Shared.Config.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VirtualDoctor.Shared.Config.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <VirtualDoctor.Shared.Config.NamesSerbian>
            <setting name="PatientControl" serializeAs="String">
                <value>"Pregled pacijenta"</value>
            </setting>
            <setting name="Account" serializeAs="String">
                <value>"Nalog"</value>
            </setting>
        </VirtualDoctor.Shared.Config.NamesSerbian>
        <VirtualDoctor.Shared.Config.Properties>
            <setting name="ButtonProportion" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>new FontFamiliy("Century Gothic")</value>
            </setting>
            <setting name="ButtonFontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WindowHeightProportion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowWidthProportion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LabelFontSize" serializeAs="String">
                <value>13</value>
            </setting>
        </VirtualDoctor.Shared.Config.Properties>
    </applicationSettings>
    <userSettings>
        <VirtualDoctor.Shared.Config.Properties>
            <setting name="LanguageClass" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="TranslateText" serializeAs="String">
                <value>Switch to Serbian</value>
            </setting>
            <setting name="NumberOfRecordsPerPage" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-EN</value>
            </setting>
        </VirtualDoctor.Shared.Config.Properties>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>